@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-primary {
    @apply mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-lg text-sm shadow-sm placeholder-slate-400
          focus:outline-none focus:border-slate-300 focus:ring-1 focus:ring-slate-300
          disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
          invalid:border-pink-500 invalid:text-pink-600
          focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
}
